<a href="https://colab.research.google.com/github/harupy/google-colab/blob/master/issue_123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello colab")

hello colab

In [2]:
import pandas as pd

df = pd.DataFrame({'a': [1, 2, 3]})
df.head()

   a
0  1
1  2
2  3